*{
    margin: 1px;
    padding: 1px;
}
body{
    font-family: sans-serif;
    font-size: 12px;
    background: linear-gradient(rgb(255,255,255), rgb(235,235,235));
}
h3{
    display: none;
}
nav{
    align-items: center;
    margin: 0px;
    width: 100%;
}
nav ul{
    list-style: none;
    background: #00539B;
}
nav ul li{
    display: inline-block;
    padding: 5px;
    background: none;
    color: #ffffff;
}
nav ul li:hover{
    font-family:'Franklin Gothic Medium';
    display:inline-block;
    padding: 4px;
    background: none;
    color: #50C7C5;
}
section{
    background: #00539B;
    font-family: Impact;
    margin: auto;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
}
h2{
    font-size: 25px;
    color: #3952A4;
}
h2:hover{
    padding: 2px;
    color: #50C7C5;
}

.section{
    margin: auto;
    width: 100%;
    text-align: center;
}
section ul {
    width: 100%;
    list-style: none;
}
section ul li {
    text-align: center;
    font-family:sans-serif;
    color: white;
    background: rgb(255, 255, 255);
    display: inline-block;
    padding: 1.8%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-animation: 5px;
    -moz-transition:background .6s;
}
h4{
    font-size: 12px;
    color: #ffffff;
}
section ul li{
    background: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit--border-radius: 5px;
}
section ul li a img{
    background-color: transparent;
    max-width: 100%;
}
section ul li:hover{
background: #50C7C5;
border-radius: 35px;
-moz-border-radius:35px;
-webkit-border-radius:35px;
}

table tr td a img:hover{
    background-color: transparent;
    max-width: 100%;
    }

    table tr td:hover{
        
        background: #3e8bcf;
        border-radius: 8px;
        -moz-border-radius:8px;
        -webkit-border-radius:8px;
        }